*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    position: relative;
}
/*Header Logo, Hamburger menu*/
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    background-color: #fff;
}

.logo {
    max-width: 200px;
    height: 40px;
    padding-left: 20px;
}
/*HamBurger Menu*/
.hamburger_menu {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}
.line {
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background-color:#000;
    transition: all 0.5s ease-in-out;
}

.line::before,
.line::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    border-radius: 5px;
    background-color:#000 ;
    transition: all 0.5s ease-in-out;
}
.line::before {
    transform: translateY(-14px);
}
.line::after {
    transform: translateY(14px);
}

/*Mobile Background image*/
.bg_mobile{
   position: relative;
    width: 100%;
    height: 500px;
    background-image:url("/images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.mobile_img img{
    margin-top: -110px;
    width: 100%;
    height: auto;
    }

.intro_text h1{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
    color: rgb(104, 100, 100);
  padding-top: 70px;
}

.intro_text p{
    font-size: 1.2rem;
    color: rgb(98, 94, 94);
    text-align: center;
    padding: 30px;
    padding-bottom: 70px;
}
.intro_text{
    text-align: center;
    padding-bottom: 50px;
}
.invite_btn{
    padding: 20px;
    text-decoration: none;
    background-color:  hsl(136, 65%, 51%);
    border-radius: 25px;
    width: 70%;
    color: cornsilk;
    font-weight: 400;
    font-size: 1.2rem;
}

/*why Easy bank section*/
.why_ebank{
    text-align:center;
    padding: 30px;
}

.reason_choose_ebank{
    padding: 30px;
}


/*Services Section style*/
.service{
 text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  
}

.service .icone{
 padding: 30px;
}
.icone_title{
    padding:30px;
   
  
}


/*Articles Section*/

.latest_articles{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.latest_articles .articles{
    padding: 30px;
}
.latest_articles img{
      width: 100%;
}